body {
    font-family: "Indie Flower";
    background-color: rgb(122, 216, 122);
}

p {
    margin-left: 200px;
    font-size: 100px;
}

a {
    font-family: "Indie Flower";
    margin-left: 200px;
    font-size: 200px;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

#Friend {
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
height: 100vh;

color: white;
font-size: 10px;
font-family: Indie Flower;

animation-name: Friend;
animation-delay: 0.5s;
animation-duration: 5s;
animation-fill-mode: both;
animation-iteration-count: 1;
animation-timing-function: ease-in;
}

@keyframes Friend {
    from {
        top: 42vh;
        left: 37vw;
        transform: rotate(720deg);
    }
    to {
        top: 95vh;
        left: 39vw;
        transform: rotate(0deg);

    }
}